<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/main.css">
    <meta charset="UTF-8">
    <title>Ordering Screen</title>
</head>
<body>
    <div class="main">
        <form action="/template/order.html">
            <div class="div1">
                <h4>Customer Information</h4>
                <label for="name">Name: <input class="user" type="text" id="name"></label><br>
                <label for="address">Address: <input class="address" type="text" id="address"></label><br>
                    <div class="div1-1">
                    <label>Pizza Type:</label><br>

                    <input type="radio" required name="group1" value="input1" id="input1">
                            <label for="input1">Sicilian</label><br>
                    <input type="radio" required name="group1" value="input2" id="input2">
                            <label for="input2">Marine</label><br>
                    <input type="radio" required name="group1" value="input3" id="input3">
                            <label for="input3">Neapolitan</label><br>
                    <input type="radio" required name="group1" value="input4" id="input4">
                            <label for="input4">Mixed</label><br>
                    </div>
            </div>
            <div class="div2">
                <label>Additions:</label><br>

                <input type="checkbox" name="group2" value="gp" id="gp">
                        <label for="gp">Green Pepper</label>
                <input type="checkbox" name="group2" value="mushroom" id="mushroom">
                        <label for="mushroom">Mushroom</label><br>
                <input type="checkbox" name="group2" value="tomato" id="tomato">
                        <label for="tomato">Tomato</label>
                <input type="checkbox" name="group2" value="input4" id="input4">
                        <label for="pickle">Pickle</label><br>
                <input type="checkbox" name="group2" value="pineapple" id="pineapple">
                        <label for="pineapple">Pineapple</label>
                <input type="checkbox" name="group2" value="olive" id="olive">
                        <label for="olive">Olives</label>
            </div>
            <div>
                <label for="unit_total">Unit Total: <input class="totals" type="text" id="unit_total" disabled placeholder="0.0"></label><br>
                <label for="pizza_number"># of Pizzas: <input class="pizza_num" type="number" id="pizza_number"></label><br>
                <label for="total">Total: <input class="totals" type="text" id="total" disabled placeholder="0.0"></label><br>
                <label for="calorie">Calories: <input class="totals" type="text" id="calorie" disabled placeholder="0.0"></label><br>
            </div>
    </div>
</body>
</html>