<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/main.css">
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body class="error">
<div class="decor-1">
    <img src="https://www.mrfarah.com/assets/html/student-files/student.t.fowsantia-25202091416.png" alt="pog1">
    Boggers Pizza
    <img class="imgflip" src="https://www.mrfarah.com/assets/html/student-files/student.t.fowsantia-25202091416.png" alt="pog2">
</div>
<hr>
<h3 style="text-align: center">Order Deleted.</h3>
<form action="/order">
    <button class="back" type="submit" value="Order_Screen">Return to Order Screen</button>
</form>
</body>
</html>