<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/main.css">
    <meta charset="UTF-8">
    <title>Order Completed</title>
</head>
<body>
<div class="decor-1">
    <img src="https://www.mrfarah.com/assets/html/student-files/student.t.fowsantia-25202091416.png" alt="pog1">
    Boggers Pizza
    <img class="imgflip" src="https://www.mrfarah.com/assets/html/student-files/student.t.fowsantia-25202091416.png" alt="pog2">
</div>
<hr>
<h3>You are order number: {{ order_num }}</h3>
</body>
</html>